* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-full {
  border-radius: 50%;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: $base-border-thickness solid $text-gray;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.none {
  pointer-events: none;
  opacity: 0;
}

.font-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

body {
  background: $bg-color;
  font-family: 'TKT', sans-serif;
}
