* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-full {
  border-radius: 50%;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: $base-border-thickness solid $text-gray;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.none {
  pointer-events: none;
  opacity: 0;
}


input[type="checkbox"]:checked + label::after {
   content: '';
   position: absolute;
   width: 1.2ex;
   height: 0.4ex;
   background: rgba(0, 0, 0, 0);
   top: 0.9ex;
   left: 0.5ex;
   border: 3px solid white;
   border-top: none;
   border-right: none;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
        
input[type="checkbox"] {
   line-height: 2.1ex;
}
        
input[type="radio"],
   input[type="checkbox"] {
   position: absolute;
   left: -999em;
}
        
input[type="checkbox"] + label {
   position: relative;
   overflow: hidden;
   cursor: pointer;
}
        
input[type="checkbox"] + label::before {
   content: "";
   display: inline-block;
   vertical-align: -25%;
   height: 20px;
   width: 20px;
   background-color:white;
   border-radius: 4px;
   border:1px solid $base-border-color;
   margin-right: 0.5em;
}
input[type="checkbox"]:checked + label::before {
   content: "";
   display: inline-block;
   vertical-align: -25%;
   height: 20px;
   width: 20px;
   background-color:$main-green;
   border-radius: 4px;
   margin-right: 0.5em;
}



.font-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

body {
  background: $bg-color;
  font-family: 'TKT', sans-serif;
}
