* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-full {
  border-radius: 50%;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: $base-border-thickness solid $text-gray;
}

@mixin flex {
  display:flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.none {
  pointer-events: none;
  opacity: 0;
  overflow:hidden;
}

.underline {
  text-decoration:underline;
}

.ml-auto {
  margin-left:auto;
}

.br-10 {
  border-radius:10px;
}


        
input[type="checkbox"] {
   width:20px;
   height:20px;
   border-radius:10px;
  
}
        

input[type="checkbox"]:checked  {
  accent-color:$main-green;
}   



.font-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

body {
  background: $bg-color;
  font-family: 'TKT', sans-serif;
}

.range_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin:10px auto;
}

.sliders_control {
  position: relative;
  min-height: 5px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  border:2px solid $main-green;
  cursor: pointer;
  position:relative;
}

input[type="range"]::-webkit-slider-thumb::before {
  content: '+';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: red;
}


input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

