

$base-padding:16px;
$base-height:4px;
$base-width:4px;
$base-border-thickness:1px;
$base-box-shadow: 0px 3px 6px #00000005;
$sidebar-box-shadow:0px 2px 5px #0000000F;


//colors

$text-gray:#F1F1F5;
$main-red:#FF4D4D;
$main-text:#696974;
$bg-color:#FAFAFB;
$main-green:#99CC66;

//fonts

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
